---
import ConfettiButton from "../components/ConfettiButton.astro";
const flag = true;
const items = ["Dog", "Cat", "Platypus"];
const htmlString = "<p>Raw HTML content</p>";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <!-- Dynamic class  -->
        <h1 class:list={["bg-gray-500", { "text-white": flag }]}>Astro</h1>

        <a href="/posts/post-1">Blog Post 1</a>
        <a href="/posts/post-2">Blog Post 2</a>
        <a href="/astronauts/1">Pagination Example</a>

        <ul>
            {
                items.map((item) => (
                    <Fragment set:html={htmlString}>
                        <li>Red {item}</li>
                        <li>Blue {item}</li>
                        <li>Green {item}</li>
                    </Fragment>
                ))
            }
        </ul>

        <ConfettiButton />
    </body>
</html>
